@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<p>
  Create your National Book Festival experience with the Library of Congress in 2021 by engaging in
  author conversations online, watching the broadcast special on PBS, listening to NPR podcasts, tuning 
  in to Washington Post Live author interviews and attending a ticketed event at the Library.
</p>