@model IEnumerable<DataAccessLayer.DatabaseModels.Event>

@{
    ViewData["Title"] = "Index";
}

<h1>MyEvents</h1>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.OrderBy(e => e.Date))
    {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "Details", "Home", new { id = item.EventID }, htmlAttributes: new { @class = " " })
            </td>
            <td>
                

                @Html.ActionLink("Edit", "Edit", "Event", new { id = item.EventID }, htmlAttributes: new { @class = "" }) |
                @Html.ActionLink("Delete", "Delete", "Event", new { id = item.EventID }, htmlAttributes: new { @class = "" })
            
                
            </td>
        </tr>
    }
</table>
